@model IEnumerable<ProductSize>

@{
    ViewData["Title"] = "Index";
}

<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bootstrap Border Sizes</h4>
                    <span>
                        lorem ipsum dolor sit amet, consectetur adipisicing
                        elit
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Ölçülər</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Border Table</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Horizontal-border table start -->
    <div class="card">
        <div class="card-header">
            <h5>Ölçülər</h5>
            @*<span>
            Example of <code>horizontal</code> table borders. This is a
            default table border style attached to <code>.table</code> class.
            All borders have the same grey color and style, table itself doesn't
            have a border, but you can add this border using
            <code>.table-framed</code> class added to the table with
            <code>.table</code> class.
            </span>*@
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-framed">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Abbr)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>

                            <th class="operate-cell">
                                @*@if (User.HasClaim(c => c.Type.Equals("admin.productsizes.create") && c.Value.Equals("1")))*@
                                @if (User.HasAccess("admin.productsizes.create"))
                                {
                                    <a class="btn btn-success btn-outline-success" asp-action="Create">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Abbr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td class="operate-cell">
                                    @if (User.HasAccess("admin.productsizes.edit"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-outline-warning">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.productsizes.details"))
                                    {
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-inverse btn-outline-inverse">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    }
                                    @if (User.HasAccess("admin.productsizes.delete"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dager btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Horizontal-border table end -->
    <!-- Vertical borders table start -->
    @*<div class="card">
    <div class="card-header">
    <h5>Ölçülər</h5>
    <span>
    Example of <code>horizontal</code> table borders. This is a
    default table border style attached to <code>.table</code> class.
    All borders have the same grey color and style, table itself doesn't
    have a border, but you can add this border using
    <code>.table-framed</code> class added to the table with
    <code>.table</code> class.
    </span>
    </div>
    </div>*@
</div>
<!-- Page-body end -->
